// Fonts
@font-face {
    font-family: 'TeleGroteskHeadline-Ultra';
    src: url('fonts/TeleGroteskHeadline-Ultra.eot');
    src: url('fonts/TeleGroteskHeadline-Ultra.woff2') format('woff2'),
         url('fonts/TeleGroteskHeadline-Ultra.woff') format('woff'),
         url('fonts/TeleGroteskHeadline-Ultra.svg#TeleGroteskHeadline-Ultra') format('svg'),
         url('fonts/TeleGroteskHeadline-Ultra.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  
    font-family: 'TeleGroteskHeadline-Regular';
    src: url('fonts/TeleGroteskHeadline-Regular.eot');
    src: url('fonts/TeleGroteskHeadline-Regular.woff2') format('woff2'),
         url('fonts/TeleGroteskHeadline-Regular.woff') format('woff'),
         url('fonts/TeleGroteskHeadline-Regular.svg#TeleGroteskHeadline-Regular') format('svg'),
         url('fonts/TeleGroteskHeadline-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  
    font-family: 'Tele-Grotesk-Halb';
    src: url('fonts/Tele-Grotesk-Halb.woff') format('woff'),
         url('fonts/Tele-Grotesk-Halb.svg#Tele-Grotesk-Halb') format('svg');
    font-weight: normal;
    font-style: normal;
  
    font-family: 'TeleGroteskHal';
    src: url('fonts/TeleGroteskHal.eot');
    src: url('fonts/TeleGroteskHal.woff2') format('woff2'),
         url('fonts/TeleGroteskHal.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  
    font-family: 'Tele-Grotesk-Fett';
    src: url('fonts/Tele-Grotesk-Fett.woff') format('woff'),
         url('fonts/Tele-Grotesk-Fett.svg#Tele-Grotesk-Fett') format('svg');
    font-weight: normal;
    font-style: normal;
  
    font-family: 'TeleGroteskFet';
    src: url('fonts/TeleGroteskFet.eot');
    src: url('fonts/TeleGroteskFet.woff2') format('woff2'),
         url('fonts/TeleGroteskFet.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
