h1 { 
    font-family: 'TeleGroteskHeadline-Regular';
    font-size: 2.4rem;  
    line-height: 2.4rem;
}

h2, h3, h4, h5, h6 { 
    font-family: 'TeleGroteskFet';  
}

h2 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.2rem;
}

p {
    font-family:'Tele-Grotesk-Halb';
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 0rem;
}

small {
    line-height: 0;
}

a {
    font-family:'Tele-Grotesk-Halb';
    font-size: 0.8rem;
}

li {
    font-family:'Tele-Grotesk-Halb';
    font-size: 1rem;
}
